---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Experience">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Background</div>
  </div>

  <div class="mb-10 text-justify">
    Software Engineer with ~3 years of industry experience mainly focused on
    web-based backend work involving distributed systems (k8s), message queues,
    RESTful APIs, NoSQL databases, Redis (mem)caching, and Elasticsearch.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Software Engineer II"
      subtitle="Jan 2022 - Jun 2022 @ LogDNA (n.k.a. Mezmo)"
      desc="Refactored alerting microservice (send functionality with integrations for platforms like PagerDuty), contributed to building a provisioning API intended for enterprise b2b use, worked on our custom Terraform provider/plugin to enable IaC workflows for product features"
    />
    <TimeLineElement
      title="Software Engineer I"
      subtitle="Jan 2020 - Dec 2021 @ LogDNA (n.k.a. Mezmo)"
      desc="Fulfilled on-call developer duties, pushed for adoption of RESTful API best practices, kickstarted alignment with OpenAPI/Swagger standards, contributed to upgrading from Elasticsearch 5.x -> 7.x, led development & documentation efforts for feature release of our export API v2"
    />
    <TimeLineElement
      title="Software Engineering Intern"
      subtitle="May 2019 - Aug 2019 @ LogDNA (n.k.a. Mezmo)"
      desc="Targeted observability into backend system via instrumenting Prometheus/OpenMetrics clients, modularized archiving functionality to various storage providers (AWS S3, Azure Blob, IBM-COS, etc), and initiated product offering integration with AWS Marketplace SaaS"
    />
    <TimeLineElement
      title="Software Engineering Intern"
      subtitle="Jun 2017 - Aug 2017 @ LogDNA (n.k.a. Mezmo)"
      desc="Developed a diagnostic dashboard to help boost sales team productivity, built a tool to streamline target acquisition & lead generation, created batch jobs to automate tasks on a regular basis"
    />
  </div>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Bachelor of Arts in Cognitive Science (Computational Modeling Focus)"
      subtitle="2015 to 2019 @ University of California, Berkeley"
    />
    <TimeLineElement
      title="Minor in Computer Science"
      subtitle="2015 to 2019 @ University of California, Berkeley"
    />
  </div>

  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://www.efset.org/cert/DxtNKG" target="_blank">
        EF SET English Certificate 74/100 (C2 Proficient)</a
      >
    </li>
    <li>
      <a
        href="https://certiprof.com/pages/scrum-foundation-professional-certificate-sfpc-en-sp"
        target="_blank"
      >
        Scrum Foundation Professional Certificate (SFPC)</a
      >
    </li>
  </ul> -->

  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Spanish (Native)</li>
    <li>English (C2)</li>
    <li>JavaScript</li>
    <li>C++</li>
    <li>PHP</li>
    <li>Ruby</li>
    <li>Postgres SQL</li>
    <li>MySQL</li>
    <li>CSS</li>
    <li>SASS</li>
    <li>HTML</li>
    <li>Node.js</li>
    <li>Ruby on Rails</li>
    <li>AngularJS</li>
    <li>VUE</li>
    <li>Astro</li>
    <li>Symfony 3</li>
    <li>Yii2</li>
    <li>Bootstrap</li>
    <li>Taildwind</li>
    <li>JQuery</li>
    <li>Wordpress</li>
    <li>Git</li>
    <li>Jira</li>
    <li>Trello</li>
    <li>BaseCamp</li>
    <li>Scrum</li>
    <li>Shape Up</li>
    <li>LeanStartup</li>
    <li>UI Design</li>
    <li>WEB Design</li>
    <li>Logo Design</li>
    <li>Image Manipulation</li>
    <li>Office Suite</li>
    <li>Adobe Photoshop</li>
    <li>KdenLive</li>
  </ul> -->
</BaseLayout>
