---
import {games} from '../content/games'
import BaseLayout from '../layouts/BaseLayout.astro'
import ArcadeCabs from '../components/ArcadeCabs.tsx'
---

<BaseLayout title='Arcade Cabinets/Games'>
  <div class='mb-5'>
    <div class='text-3xl w-full font-bold'>(Game) Cabs/Machines I've Worked On</div>
  </div>
  <div class='mb-10 text-justify'>
    As a mechanic/technician, I've worked on various arcade cabinets encompassing a wide range—from classic video games to machines with distinct amusement/entertainment purposes such as carnival attractions, (loco)motion simulations, photobooths, pinball, prize cranes, racing, shooters, redemption, VR experiences, and so on. Below is a searchable & sortable list of the machines I've maintained, repaired, or supported in my previous role.
  </div>
  <ArcadeCabs client:only='react' games={games} />
</BaseLayout>
