---
const today = new Date()
const bdft = 'font-bold'
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} David Ly
  </div>
  <div class="inline opacity-75">
    Developed further and adapted from <a href="https://astrofy-template.netlify.app/" target="_blank" class={bdft}>Astrofy Template ⚡️</a>
  </div>
</footer>
<style></style>
